
.field {

  &--label-inline {
    display: flex;
    gap: 1rem;
    .field {
      &__label {
        display: block;
        font-weight: 700;
        white-space: nowrap;
        &:after {
          content: ":";
        }
      }
      &__item {
        white-space: wrap;
      }
    }
  }
  &--name-field-components {
    .field__item:not(:first-child) {
      &:has(table.mini) {
        border-top: 10px dashed red;
      }
      margin-top: 4rem;
      padding-top: 4rem;
    }
  }
}
