@layer component, variant;
@custom-media --sm (min-width: 36rem);
@custom-media --md (min-width: 48rem);
@custom-media --lg (min-width: 62rem);
@custom-media --xl (min-width: 75rem);
@custom-media --highContrast (prefers-contrast: more);
@layer component{
._card-container{
  height: 100%;
  container: card / inline-size;
}
.card{
  display: grid;
  overflow: hidden;
  border-radius: var(--border-radius, 1rem);
  height: 100%;
  background: var(--stone-1);
  grid-template-columns: 1fr;
}
  @container (min-width: 20rem) {
.card{
    grid-template-columns: 1fr 2fr
}
    .card .card__image{
      height: 100%;
    }
  }
  .card .card__image{
    display: grid;
    margin:0;
    width: 100%;
    background: thistle;
    place-items: center;
    aspect-ratio: 16/9;
  }
    .card .card__image img{
      width: var(--size-9);
      -o-object-fit: cover;
         object-fit: cover;
    }
  .card .card__content{
    padding: var(--size-3);
  }
    .card .card__content h2{
      margin-top: 0;
    }
}
@layer variant{

.card--centered{
  padding: var(--size-3);
  place-items: center;
  gap: var(--size-3, 1rem);
}
  .card--centered .card__image{
    border-radius: calc(var(--border-radius, 1rem) - var(--size-3));
  }
  .card--centered .card__content{
    padding: 0;
  }

.card--landscape{
  height: unset;
}
  @container (min-width: 15rem) {

.card--landscape{
    grid-template-columns: 1fr 2fr
}
    .card--landscape .card__image{
      height: 100%;
    }
  }
}
