main {
  max-width: 1280px;
  padding-right: var(--size-7);
  padding-left: var(--size-7);
}

.layout-content {
  margin-bottom: 2rem;
}

.region-content {
  --font-size: var(--font-size-1);
  --rhythm: calc(var(--font-size) * var(--font-lineheight-4));
  display: grid;
  font-size: var(--font-size);
  line-height: var(--font-lineheight-4);
  grid-template-columns: minmax(0, 1fr) minmax(0, calc(var(--rhythm) * 1)) minmax(0, 54ch) minmax(0, calc(var(--rhythm) * 1)) minmax(0, 1fr);
  & > * {
    grid-column: 3;
  }
}

#block-sakt-views-block-project-map-block-1 {
  grid-column: 1/-1;
}

#block-sakt-views-block-projects-relationships-block-2 {
  grid-column: 2 / span 3;
}
